{% extends 'link/base.html' %}
{% load links_tags %}

{% block content %}
  <center>
    <h2>Готовые ссылки</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Cсылки</th>
      <th>Укороченные ссылки</th>
      <th>Время создания</th>
      <th>Кол-во переходов</th>
    </tr>
  {% get_links as links %}
  {% for link in links %}
     <tr>
      <th><a href="{{ link.received_url }}">{{ link.received_url }}</a></th>
      <th><a href="{{ root_url }}{{ link.short_url }}">{{ root_url }}{{ link.short_url }}</a></th>
      <th>{{ link.created_at }}</th>
      <th>{{ link.amount_clicks }}</th>
    </tr>
  {% endfor %}
   </table>
  </div>
{% endblock %}